<!DOCTYPE html>
lasso-page package-path="./browser.json"
html
  head
    title - Hello, it's me!
    lasso-head
  body
    div#root
    lasso-body

    // If you render any  UI components on the server, the init-widgets
    // tag is needed to initialize the widgets associated with those
    // rendered UI components when the page initializes in the browser
    init-widgets
